html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}
.tela {
    background-color: #f4f4f4;
}
.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
}
nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 1rem;
}

.icone{
    padding: 10px;
}

.logoNav{
    width: auto;
    height: 65px;
    margin-inline: 10px;
    padding-left: 3em;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    line-height: 65px;
    font-size: 20px;
}

.nav div.main_list ul li a:hover {
    color: #FF914D;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: 1000;
    background-color: #464255;
    padding: 0;
}


@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
  
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }

    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color:rgba(70, 66, 85, 0.753);
        /*same background color of navbar*/
        background-position: center top;
    }

    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
        font-size: 20px;
        
    }
    
	.nav {
		width: 100%;
		height: 65px;
		position: fixed;
		line-height: 65px;
		text-align: center;
        background-color: #464255;
        padding: 0;
	}

    .nav div.main_list ul li a:hover {
        color: #554e42;
    }

    .rodape{
        text-align: center;
    }
}

.navTrigger {
    cursor: pointer;
    width: 20px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #464255;
}
/***** pg *********/

#tOng{
    text-align: center;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 3rem;
}

#cardPro{
    padding-top: 10%;
}

.tCard{
    color: #38b8ff;
    font-weight: bold;
    font-family: 'Zen Kurenaido', sans-serif;
}

.tContato{
    color: #ff9100;
    font-weight: bold;
    font-family: 'Zen Kurenaido', sans-serif;
}

.tInfos{
    font-family: 'Zen Kurenaido', sans-serif;
}

.cartao{
    background: white;
    height: 475px;
    text-align: center;
    border-radius: 3%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 7px 1px rgb(25, 37, 23);
    -webkit-box-shadow: 1px 1px 7px 1px rgba(116, 113, 113, 0.39);
    -moz-box-shadow: 1px 1px 7px 1px rgba(116, 113, 113, 0.39);
}

.form-pesquisa form{
    justify-content: center;
}

#erroPesquisa{
    text-align: center;
}

#efetuePesquisa{
    text-align: center;
}
/***** rodapé *****/

.rodape{
    background-image:url(../img/imgRodape2.jpg);
}

.rodape2{
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.trodape{
    color:#ff9d00;
}

.txtRodape{
    color: #fff;
}

#txtArea{
    resize: none;
}
#btnSM{
    background-color: #FF914D;
    color: white    ;
    font-size: 20px;
    padding: 20px;
    margin: 2%;
}

#btnSM2{
    background-color: #FF914D;
    color: white    ;
    font-size: 20px;
    padding: 20px;
    margin: 2%;
}
/********************/
.myH2 {
	text-align:center;
	font-size: 4rem;
}
.myP {
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
	font-size: 20px;
}
@media all and (max-width:700px){
	.myP {
		padding:2%;
	}
}

.orange-border .form-control:focus {
    border: 1px solid #ff9d00;
    box-shadow: 0 0 0 0.2rem rgba(255, 179, 0, 0.25);
}


#btnFechaModal2{
    background-color: #464255;
    color: white;
}

#xizinho2{
    background-color: #26baff;
}

.engloba{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#btnLogout{
    background-color: #ff9d00;
    color: white;
    width: 45%;
}


#btnPerf{
    background-color: #464255;
    width: 45%;
    color: white;
}


.icon{
    color: #26baff;
}

.TamImg{
    height: 300px;
}
